    <div class="posts">
                <h1 class="content-subhead">Posts</h1>

                <!-- A single blog post -->
                <section class="post">
                    <header class="post-header">

                        <h2 class="post-title">{{post.postTitle}}</h2>

                        <p class="post-meta">
                            By <a href="#" class="post-author">{{user.username}}</a> {{format_date createdAt}}
                        </p>
                    </header>

                    <div class="post-description">
                        <p>
                            {{post.postContent}}
                        </p>
                        
                    </div>
                </section>
            </div>
            <script src="/public/js/post.js"></script>
